/***** BODY *****/

body{
    background-image: url("../img/background.jpg");
    font-family: 'Roboto', sans-serif;
}

/***** HEADER *****/

header{
    background-image: url("../img/background4.jpg");
    background-repeat: repeat;
}

nav ul {
    background-color: none;
    float: right;
    list-style-type: none;
    margin-top: 100px;
    margin-bottom: 20px;
    margin-right: 100px;
}

nav li {
    color: white;
    float: left;  
    padding-right: 30px;
    margin: 5px;

}

li a:link {
    text-decoration: none;
    color: white;
}

li a:hover {
    background-color:rgba(255, 255, 255, 0.2);;
    padding: 5px;
}

li a:visited {
    color: white;
}

#profilePicture{
    margin-left: 100px;
    margin-top: 20px;
    width: 200px;
}

h1{
    background-color: white;
    font-size: 35px;
    text-align: center;
}

/***** Content *****/

p{
    background-color:rgba(255, 255, 255, 0.2);
    color: white;
    padding: 10px;
    font-size: 14;
    font-weight: lighter;
}

/***** FOOTER *****/


.socialMedia{
    background-color: white;
    color: black;
    font-size: 20px;
    font-weight: 500;
    padding: 10px;
    margin: 0px;
    padding: 10px;
    text-align: center;
}

i{
    padding: 10px;
}

footer a:hover {
    background-color:white;
    padding: 5px;
}

footer a:visited {
    color: black;
}

