/********** BODY **********/

body{
    background-image: url("../img/background.jpg");
    font-family: 'Roboto', sans-serif;
    color: white;
}

/********** HEADER **********/

header{
    background-image: url("../img/background4.jpg");
    background-repeat: repeat;
}

nav ul{
    background-color: none;
    float: right;
    font-size: 28px;
    list-style-type: none;
    margin-top: 100px;
    margin-bottom: 20px;
    margin-right: 100px;
}

nav li{
    color: white;
    float: left;  
    padding-right: 30px;
    margin: 5px;
}

li a:link{
    text-decoration: none;
    color: white;
}

li a:hover{
    background-color:rgba(255, 255, 255, 0.2);;
    padding: 5px;
}

li a:visited{
    color: white;
}

#profilePicture{
    margin-left: 100px;
    margin-top: 20px;
    width: 200px;
}

h1{
    background-color: white;
    color: black;
    font-size: 40px;
    text-align: center;
}

/*************** Datos personales ***************/

h2{
    background-color: white;
    color: black;
    font-size: 24px;
    padding: 10px;
    margin: 0px;
}


.personalInfo ul{
    background-color: rgba(255, 255, 255, 0.2);
    font-size: 20px;
    padding: 20px;
    margin: 0px;
    list-style-type: none;
}

.personalInfo ul li span{
    font-weight: bold;
}

/*************** Education & Work Experience: tabla ***************/

table{
    background-color: rgba(255, 255, 255, 0.2);
    font-size: 20px;
    display: block;
    padding: 10px;
}

table tr td{
    vertical-align: top;
}

.date{
    font-weight: 700;
}

/*************** FOOTER **************/

.socialMedia{
    background-color: white;
    color: black;
    font-size: 28px;
    font-weight: 500;
    padding: 10px;
    margin: 0px;
    padding: 10px;
    text-align: center;
}

i{
    padding: 10px;
}

footer a:hover{
    background-color:white;
    padding: 5px;
}

footer a:visited{
    color: black;
}

