/***** BODY *****/

body{
    background-image: url("/root/img/background.jpg");
    font-family: 'Roboto', sans-serif;
}

/***** HEADER *****/

#profilePicture{
    border-radius: 5px;
    margin: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1{
    background-color: white;
    font-size: 35px;
    text-align: center;
    margin-bottom: 100px;
}

/***** DATOS PERSONALES *****/

h3{
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    font-size: 20px;
    padding: 20px 10px;
    margin: 0px;
}


ul {
    background-color: white;
    font-size: 15px;
    padding: 20px;
    margin: 0px;
}

ul li span{
    font-weight: 700;
    font-style: italic;
}

table{
    background-color: white;
    font-size: 15px;
    display: block;
    padding: 10px;
}

table tr td {
    vertical-align: top;
}

.date{
    font-weight: 700;
}

/***** FOOTER *****/

.socialMedia{
    background-color: rgba(255, 255, 255, 0.2);
    height: 35px;
    text-align: right;
    padding: 10px 20px 10px 20px;
    color: white;
}

footer span{
    font-weight: 700;
    margin-right: 20px;
}

footer img{
    width: 30px;
    padding-right: 20px;
}